{% extends 'base.html' %}
{% block content %}
    <!-- banner部分 -->
	<div id="banner1">
		<ul class="focusBox">
			<li class="act" style="background:rgb(229, 89, 1) none repeat scroll 0% 0%;z-index:8;">
				<div class="banner1con pic1">
					<a href="javascript:;"></a>
				</div>
			</li>
			<li style="background:rgb(7, 49, 73) none repeat scroll 0% 0%;
z-index:7;">
				<div class="banner1con pic2">
					<a href="javascript:;"></a>
				</div>
			</li>
			<li style="background: rgb(231, 231, 231) none repeat scroll 0% 0%;
z-index:6;">
				<div class="banner1con pic3">
					<a href="javascript:;"></a>
				</div>
			</li>
			<li style="background: rgb(0, 0, 0) none repeat scroll 0% 0%;
z-index:5;">
				<div class="banner1con pic4">
					<a href="javascript:;"></a>
				</div>
			</li>
			<li style="background: rgb(189, 239, 251) none repeat scroll 0% 0%;z-index:4;">
				<div class="banner1con pic5">
					<a href="javascript:;"></a>
				</div>
			</li>
			<li style="background: rgb(250, 230, 215) none repeat scroll 0% 0%;
z-index: 3;">
				<div class="banner1con pic6">
					<a href="javascript:;"></a>
				</div>
			</li>
			<li style="background: rgb(62, 130, 19) none repeat scroll 0% 0%;
z-index: 2;">
				<div class="banner1con pic7">
					<a href="javascript:;"></a>
				</div>
			</li>
			<li style="background: rgb(238, 237, 235) none repeat scroll 0% 0%;
z-index: 1;">
				<div class="banner1con pic8">
					<a href="javascript:;"></a>
				</div>
			</li>
            <div class="num">
                <span class="tst active">1</span>
                <span class="tst">2</span>
                <span class="tst">3</span>
                <span class="tst">4</span>
                <span class="tst">5</span>
                <span class="tst">6</span>
                <span class="tst">7</span>
                <span class="tst">8</span>
            </div>
		</ul>
	</div>
    <!-- 内容部分 -->
	<div id="indexcon">
		<div class="indexcon_top">
			<div class="slideAd fl">
				<a href="javascript:;" class="flashimg"><img src="img/slide1.jpg" alt=""></a>
			</div>
			<div class="lazyimg cl">


        		<!--1白酒馆-->
        		<div class="floor1">
        			<div class="floor_t">
        				<h2><span>1F</span>白酒馆</h2>
                        <ul class="tabitembox fr">
                            <li class="lia"><a class="active" href="#">大牌白酒<span class="act"></span></a></li>
                            <li class="lia"><a href="#">茅台系列<span></span></a></li>
                            <li class="lia"><a href="#">五粮液系列<span></span></a></li>
                            <li class="lia"><a href="#">精装礼盒<span></span></a></li>
                            <li class="lia"><a href="#">整箱优惠<span></span></a></li>
                            <li class="lia"><a href="#">小酒版<span></span></a></li>
                            <li class="lia"><a href="#">年份老酒<span></span></a></li>
                            <li><a href="#">更多</a></li>
                        </ul>
        			</div>
        			<div class="floorcon">
        				<div class="tabslide_left fl">
                            {% load static %}
        					<a href="#" class="flashimg"><img src="{% static 'customer/img/fl1.jpg' %}" alt=""></a>
        					<a href="#" class="flashimg"><img src="{% static 'customer/img/fl2.jpg' %}" alt=""></a>
        					<a href="#" class="flashimg"><img src="{% static 'customer/img/fl3.jpg' %}" alt=""></a>
        				</div>
                        <div class="tabslide_right fr">

                            <div class="tabslide2">
                                <ul class="tablist">
{#                                    {{ goods.get.id_  }}#}
                                    {% for foo in goods %}
                                    <li>
                                        <a href="">

                                            <div class="piclist"><img src="{% static foo.image %}" alt=""></div>
                                            <p>{{ foo.name }}</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥{{ foo.price }}</div>
                                        </a>
                                    </li>
                                    {% endfor %}

                                </ul>
                            </div>

                            <div class="tabslide3">
                                <ul class="tablist">
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist2.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist2.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist2.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist2.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist2.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist2.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist2.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist2.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist2.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist2.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist2.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist2.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tabslide4">
                                <ul class="tablist">
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist3.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist3.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist3.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist3.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist3.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist3.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist3.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist3.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist3.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist3.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist3.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist3.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tabslide5">
                                <ul class="tablist">
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist4.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist4.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist4.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist4.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist4.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist4.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist4.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist4.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist4.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist4.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist4.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist4.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tabslide6">
                                <ul class="tablist">
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist5.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist5.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist5.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist5.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist5.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist5.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist1.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist5.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist1.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist5.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist5.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist5.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tabslide7">
                                <ul class="tablist">
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist6.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist6.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist6.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist6.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist6.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist6.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist6.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist6.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist6.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist1.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist6.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="piclist"><img src="img/piclist6.jpg" alt=""></div>
                                            <p>38度 茅台 五星 不带杯（2011年产）500ml</p>
                                            <div class="gjw_tabBox_price" style="text-align:left;">￥520</div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>


        			</div>
        		</div>
			</div>
		</div>
	</div>
{% endblock %}



