{% extends 'base.html' %}
{% block title %}
    个人中心
{% endblock %}
{% block sortall %}
    <div class="navBar_dt fl">
        <a>全部商品分类</a>
    </div>
{% endblock %}
{% block content %}
    <!-- 内容 -->
    <div id="indexcon">
        <div class="personalcon">
            <div class="personalleft fl">
                <ul class="personallist">
                    <li><a class="red" href="#">个人中心</a></li>
                    <li><a href="#">我的订单</a></li>
                    <li><a href="#">我的收藏</a></li>
                    <li><a href="#">账户余额</a></li>
                    <li><a href="#">我的优惠券</a></li>
                    <li><a href="#">我的积分</a></li>
                    <li><a href="#">售后管理</a></li>
                    <li><a href="#">抽奖记录</a></li>
                    <li><a href="{% url 'customer:address' %}">收货地址管理</a></li>
                    <li class="active"><a href="#">修改头像及密码</a></li>
                </ul>
            </div>
            <div class="personalright fl">
                <div class="personaltit">
                    修改头像及密码
                    <span>帮助我们完善您的个人信息，购酒网会对您的个人资料隐私加以保密</span>
                </div>
                <!--我的信息 begin-->
                <div class="personaltext">
                    {% load static %}
                    <form action="{% url 'customer:personalcenter' %}" class="personalform" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="personalchange">
                            <div class="changetxt fl">头像：</div>
                            <div class="changeimg fl">

                                <img id="img_header" src="/static/{{ request.user.header }}/"
                                     alt="请选择大于70*70的图片" width="70" onclick="fileSelect()">
                                <input type="file" name="head_image" id="input_image" style="display: none;">
                            </div>
                            <p class="red cl lh40">点击上方换头像</p>
                        </div>

                        <script>
                            function fileSelect() {
                                $('#input_image').click()
                            }
                        </script>
                        <script>
                            $(function () {
                                $("#input_image").change(function () {
                                    var readfile = new FileReader()
                                    var mfile = $('#input_image')[0].files[0]
                                    readfile.readAsDataURL(mfile);
                                    readfile.onload = function () {
                                        var img = $("#img_header");
                                        img.attr("src", this.result);
                                    }
                                })
                            })
                        </script>
                        <div class="personp1">
                            <div class="per_email fl"><span class="red">*</span>邮&nbsp;箱：</div>
                            <input name="email" id="input_email" type="text" style="border: #2e2e2e "
                                   value="{{ request.user.email }}"
                                   readonly>
                            <span id="alterEmail">修改</span>
                        </div>
                        {#                                                <div class="personp1">#}
                        {##}
                        {#                                                    <div class="per_email fl"><span class="red">*</span>手机：</div>#}
                        {#                                                    <span id="alterphone" onclick="BindEmali()" style="padding-left:0;">绑定手机号</span>#}
                        {#                                                </div>#}
                        <div class="personp1">
                            <div class="per_email fl"><span class="red">*</span>昵&nbsp;称：</div>
                            <input name="nickname" id="txtNickName" class="userBtn" maxlength="15" type="text"
                                   value="{{ request.user.nickname }}">
                        </div>
                        <div class="personp1">
                            <div class="per_email fl"><span class="red">*</span>会员名：</div>
                            <input id="username" name='username' class="userBtn " maxlength="15" type="text" style="width: 166px;
    height: 24px;
    border: 1px solid #7E9DB9;" value="{{ request.user.username }}"><span id="p">cc</span>
                        </div>
                        <div class="personp1">
                            <div class="per_email fl">性别：</div>
                            <input value="男" name="sex" id="sexman" checked="checked" type="radio">男
                            <input value="女" name="sex" id="sexwoman" type="radio">女

                        </div>

                        <div class="personalbtn">
                            <div class="savebtn fl">
                                <button name="btn_submit" style="background-color: red" type="submit">确认保存</button>
                            </div>
                            <div class="changepw fl">
                                修改密码
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('#alterEmail').click(function () {
                e = $('#input_email')
                e.attr('readonly', false)


            })
        })
    </script>
    <script>
        $(function () {
            $('#username').bind('keyup', function () {
                username = $('#username').val()
                csrf = $("[name='csrfmiddlewaretoken']").val()
                $.post('/customer/checkusername/', {
                    'username':username,
                    'csrfmiddlewaretoken': csrf,
                }, function (data) {
                    console.log(data)
                    {#alert(data.msg)#}
                    if (data.msg >0) {
                        console.log(data.msg)

                        $('#btn_submit').attr('disabled', true)
                        m = '已存在'
                    }
                    else {
                        $('#btn_submit').attr('disabled', false)
                        m = 'ok'
                    }
                    $('#p').text(m)

                    {#console.log(typeof(data))#}

                })
            })
                 {#return false#}
        })
    </script>
{% endblock %}