{% extends 'base.html' %}
{% block content %}
	<div id="indexcon">
		<div class="probox">
			<div class="proboxleft fl">
				<div class="subnav">
					<a href="javascript:;">首页</a>
					<span>></span>
					<a href="javascript:;">葡萄酒</a>
					<span>></span>
					<a href="javascript:;" class="red">澳大利亚 奔富 洛神山庄赤霞珠红葡萄酒750ml*6整箱</a>
				</div>
				<div class="proboxleft-left fl">
					<div class="preview">
						<a href="../img/big1.jpg" class="jqzoom" rel="gal1">
							<img id="midImg" src="../img/mid1.jpg">
						</a>
						<div class="spec">
							<div class="specleft"></div>
							<div class="speclist">
								<ul  id="thumblist" class="clearfix listImg">
									<li><a class="zoomThumbActive" href="javascript:;" rel="{gallery: 'gal1', smallimage: '../img/mid1.jpg',largeimage: '../img/big1.jpg'}"><img src="../img/mid1.jpg"></a></li>
									<li><a href="javascript:;" rel="{gallery: 'gal1', smallimage: '../img/mid2.jpg',largeimage: '../img/big2.jpg'}"><img src="../img/mid2.jpg"></a></li>
									<li><a href="javascript:;" rel="{gallery: 'gal1', smallimage: '../img/mid3.jpg',largeimage: '../img/big3.jpg'}"><img src="../img/mid3.jpg"></a></li>
									<li><a href="javascript:;" rel="{gallery: 'gal1', smallimage: '../img/mid4.jpg',largeimage: '../img/big4.jpg'}"><img src="../img/mid4.jpg"></a></li>
									<li style="margin:0;"><a href="javascript:;" rel="{gallery: 'gal1', smallimage: '../img/mid5.jpg',largeimage: '../img/big5.jpg'}"><img src="../img/mid5.jpg"></a></li>
								</ul>
							</div>
							<div class="specleft"></div>
						</div>
						<div class="zoomlink">
							<p class="fl">分享到：</p>
							<div class="fl" style="line-height:45px;">
								<a href="#"><img src="../img/lk1.jpg"></a>
								<a href="#"><img src="../img/lk2.jpg"></a>
								<a href="#"><img src="../img/lk3.jpg"></a>
								<a href="#"><img src="../img/lk4.jpg"></a>
								<a href="#"><img src="../img/lk5.jpg"></a>
								<a href="#"><img src="../img/lk6.jpg"></a>
							</div>
							<div class="fr" style="width:90px;line-height:45px;"><a href="#" style="color:#999;"><img src="../img/lk7.jpg">加入收藏</a></div>
						</div>
					</div>
				</div>
				<div class="proboxleft-right fr">
					<h2 style="font-family:"微软雅黑";">澳大利亚 奔富 洛神山庄设拉子赤霞珠红葡萄酒750ml*6整箱装</h2>
					<p class="red" style="text-indent:10px;height:38px;line-height:38px;">整箱优惠 预购从速</p>
					<div class="pricebox">
						<p class="oldPrice">
                            <span>参考价:&nbsp;<s>￥1074</s></span>
                        </p>
                        <div class="newPriceBox">
                            <p class="newPrice fl" style="margin-top: 0">
                                活动价:
                                <strong><span class="rmbIcon">￥</span> <span class="price"><span id="spPrice">208</span></span></strong>
                            </p>
                            <div class="fl Etime">

                            </div>
                        </div><br>
                        <p class="sale cf">
                            <span>促销信息:</span>
                            <span class="redBox">
                                限时抢购</span>
                            <span class="red">
                                    已优惠￥866元</span>
                        </p>
					</div>
					<div class="transTo">
						<div class="psz fl">
                                配&nbsp;送&nbsp;至:</div>
                        <a class="at_btn fl" id="spnProvince">
                            <label id="lbPP">上海(现货)</label>
                            <i class="arrowD"></i>
                        </a>
                        <div class="yunfei fl">
                            &nbsp;单笔订单不满100元，收运费<span id="freightSpan">10</span>元，满百包邮
                        </div>
                        <a class="question" href="javascript:;"></a>
					</div>

                    <div class="shul" style="margin-top:20px;line-height: 30px;">
                    	<span class="fl">数&nbsp;&nbsp;量：</span>
						<input class="nums fl" id="txtQuantity" value="1" type="text">
						<div class="addBtn">
                            <span class="addN">+</span><span class="diffN">-</span>
                        </div>
                    </div>
					<div class="buybtn cl">
						<a id="addCat" class="addBuy btn" target="_blank" rel="nofollow" onclick="joinCart(4322,true);"></a>
						<a id="addToCat" class="addToCart btn" rel="nofollow" target="_blank"></a>
					</div>
                    <p class="service">
                        温馨提示：
                        <font color="red">
                            本商品禁用优惠券.
                        </font>
                        <br>

                    </p>
				</div>
			</div>
			<div class="proboxright fl">
				<ul class="listpro">
					<li><a href="javascript:;"><img src="../img/listpro1.jpg" alt=""></a></li>
					<li><a href="javascript:;" class="sevcices_online"></a></li>
					<li>
						<a href="javascript:;">
							<img src="../img/listpro2.jpg" alt="">
							<img src="../img/listpro3.jpg" alt="">
						</a>
					</li>
				</ul>
			</div>
		</div>
{% endblock %}