{% extends 'base.html' %}
{% block sortall %}
    <div class="navBar_dt fl navBar_dt_hover">
        全部商品分类
        <div class="navmenu navmenu_hover" style="display:none;">
            <ul class="navbar">
                <li class="navbarli">
                    <div class="navBar_title">
                        <strong class="fl cateItem_title">购酒直通车<span class="navBar_tip">HOT</span> </strong>
                    </div>
                    <div class="navBar_linkBox v6_clear">
                        <a href="#" class=""> 大坛美酒</a>
                        <a href="#" class="v6_highLight"> 高端收藏</a>
                        <a href="#" class=""> 送礼推荐</a>
                        <a href="#" class=""> 整箱促销</a>
                        <a href="#" class=""> 封顶49元</a>
                        <a href="#" class=""> 婚宴用酒</a>
                    </div>
                </li>
                <li class="navbarli">
                    <div class="navBar_title">
                        <strong class="fl cateItem_title">购酒直通车<span class="navBar_tip">HOT</span> </strong>
                    </div>
                    <div class="navBar_linkBox v6_clear">
                        <a href="#" class=""> 大坛美酒</a>
                        <a href="#" class="v6_highLight"> 高端收藏</a>
                        <a href="#" class=""> 送礼推荐</a>
                        <a href="#" class=""> 整箱促销</a>
                        <a href="#" class=""> 封顶49元</a>
                        <a href="#" class=""> 婚宴用酒</a>
                    </div>
                </li>
                <li class="navbarli">
                    <div class="navBar_title">
                        <strong class="fl cateItem_title">购酒直通车<span class="navBar_tip">HOT</span> </strong>
                    </div>
                    <div class="navBar_linkBox v6_clear">
                        <a href="#" class=""> 大坛美酒</a>
                        <a href="#" class="v6_highLight"> 高端收藏</a>
                        <a href="#" class=""> 送礼推荐</a>
                        <a href="#" class=""> 整箱促销</a>
                        <a href="#" class=""> 封顶49元</a>
                        <a href="#" class=""> 婚宴用酒</a>
                    </div>
                </li>
                <li class="navbarli">
                    <div class="navBar_title">
                        <strong class="fl cateItem_title">购酒直通车<span class="navBar_tip">HOT</span> </strong>
                    </div>
                    <div class="navBar_linkBox v6_clear">
                        <a href="#" class=""> 大坛美酒</a>
                        <a href="#" class="v6_highLight"> 高端收藏</a>
                        <a href="#" class=""> 送礼推荐</a>
                        <a href="#" class=""> 整箱促销</a>
                        <a href="#" class=""> 封顶49元</a>
                        <a href="#" class=""> 婚宴用酒</a>
                    </div>
                </li>
                <li class="navbarli">
                    <div class="navBar_title">
                        <strong class="fl cateItem_title">购酒直通车<span class="navBar_tip">HOT</span> </strong>
                    </div>
                    <div class="navBar_linkBox v6_clear">
                        <a href="#" class=""> 大坛美酒</a>
                        <a href="#" class="v6_highLight"> 高端收藏</a>
                        <a href="#" class=""> 送礼推荐</a>
                        <a href="#" class=""> 整箱促销</a>
                        <a href="#" class=""> 封顶49元</a>
                        <a href="#" class=""> 婚宴用酒</a>
                    </div>
                </li>
                <li class="navbarli">
                    <div class="navBar_linkBox v6_clear">
                        <a href="#" class="v6_highLight">茶叶</a>
                        <a href="#" class="">酒具</a>
                        <a href="#" class="">新品</a>
                        <a href="#" class="">清仓专区</a>

                    </div>
                </li>
            </ul>
            <div class="navlistbig">

            </div>
        </div>
    </div>
{% endblock %}
{% block mycart %}
        <div class="topBar_cart fr">
        <i class="iconfont gouwuche">&#xe63f;</i>
        <a href="{% url 'shopcart:mycart' %}">我的购物车</a>
        <span class="arrow">></span>
        <div class="topBar_count" id="head_cart_no">0</div>
    </div>
{% endblock %}
{% block content %}
    <div id="indexcon">
        <div class="probox">
            <div class="proboxleft fl">
                <div class="subnav">
                    <a href="javascript:;">首页</a>
                    <span>></span>
                    <a href="javascript:;">{{ type }}</a>
                    <span>></span>
                    <a href="javascript:;" class="red">{{ good.name }}</a>
                </div>
                <div class="proboxleft-left fl">
                    <div class="preview">
                        {% load static %}
                        <a href="{% static 'customer/img/big1.jpg' %}" class="jqzoom" rel="gal1">
                            <img id="midImg" src="{% static good.image %}">
                        </a>


                    </div>
                </div>
                <div class="proboxleft-right fr">
                    <h2 style="font-family:微软雅黑;">{{ good.name }}</h2>
                    <p class="red" style="text-indent:10px;height:38px;line-height:38px;">{{ good.desc }}</p>
                    <div class="pricebox">
                        <p class="oldPrice">
                            <span>参考价:&nbsp;<s>￥{{ good.normal_price }}</s></span>
                        </p>
                        <div class="newPriceBox">
                            <p class="newPrice fl" style="margin-top: 0">
                                活动价:
                                <strong><span class="rmbIcon">￥</span> <span class="price"><span
                                        id="spPrice">{{ good.price }}</span></span></strong>
                            </p>
                            <div class="fl Etime">

                            </div>
                        </div>
                        <br>
                        <p class="sale cf">
                            <span>促销信息:</span>
                            <span class="redBox">
                                限时抢购</span>
                            <span class="red">
                                    已优惠￥ <label id="money"></label>元</span>
                        </p>
                    </div>
                    <div class="transTo">
                        <div class="psz fl">
                            配&nbsp;送&nbsp;至:
                        </div>
                        <a class="at_btn fl" id="spnProvince">
                            <label id="lbPP">上海(现货)</label>
                            <i class="arrowD"></i>
                        </a>
                        <div class="yunfei fl">
                            &nbsp;单笔订单不满100元，收运费<span id="freightSpan">10</span>元，满百包邮
                        </div>
                        <a class="question" href="javascript:;"></a>
                    </div>
  <form action="{% url 'order:buy' %}" method="get">
                    <div class="shul" style="margin-top:20px;line-height: 30px;">
                        <span class="fl">数&nbsp;&nbsp;量：</span>
                        <input class="nums fl" name="count" id="txtQuantity" value=1 type="text">
                        <div class="addBtn">
                            <span class="addN" id="add">+</span><span class="diffN" id="jian">-</span>
                        </div>
                    </div>
                    <div class="shul" style="margin-top:20px;line-height: 30px;">
                        <span class="fl">库&nbsp;&nbsp;存：{{ good.stock }}</span>

                    </div>



<input hidden name="id" value="{{ good.id }}">

      <div class="buybtn cl">
                        <input id="addCat" type="submit"  class="addBuy btn" target="_blank" rel="nofollow"></input>
                        <a id="addToCat" class="addToCart btn" rel="nofollow" target="_blank" ></a>
                    </div>
                </form>
                    <p class="service">
                        温馨提示：
                        <font color="red">
                            本商品禁用优惠券.
                        </font>
                        <br>

                    </p>
                </div>
            </div>
            <div class="proboxright fl">
                <ul class="listpro">
                    <li><a href="javascript:;"><img src="../img/listpro1.jpg" alt=""></a></li>
                    <li><a href="javascript:;" class="sevcices_online"></a></li>
                    <li>
                        <a href="javascript:;">
                            <img src="../img/listpro2.jpg" alt="">
                            <img src="../img/listpro3.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
            </div>
                    <script>
                        price = {{ good.price }}
                            normal_price = {{ good.normal_price }}
                                a = normal_price - price
                        $('#money').text(a)
                    </script>
                        <script>
                        $('#jian').bind('click', function () {
                            number = $('#txtQuantity')
                            count = number.val()
                            if (parseInt(count) > 1) {
                                number.val(parseInt(count) - 1)
                            }
                        })
                        $('#add').bind('click', function () {
                            number = $('#txtQuantity')
                            count = number.val()
                            if (parseInt(count) <{{ good.stock }}) {
                                number.val(parseInt(count) + 1)
                            }
                        })
                    </script>

                        <script>
                       {#添加购物车#}
                        $('#addToCat').bind('click',function () {
                            $.get(
                                '/customer/additem/',{
                                    'id':{{ good.id }},
                                    'count':parseInt($('#txtQuantity').val()),
                                },function (data) {
                                    alert(data.msg)
                                }
                            )
{#$.get(#}
{#    '/customer/getcartcount/',#}
{#    {},#}
{#    function (data) {#}
{#        $('#head_cart_no'.text(data.msg))#}
{#    }#}
{#)#}
                        })
                    </script>




{% endblock %}