<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单结算-中酒网</title>
		<link rel="shortcut icon" type="image/X-icon" href="../images/public/title_logo.png" />
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/mall.css" />
		<!-- <link rel="stylesheet" href="../css/helpCenter.css" /> -->
		<link rel="stylesheet" href="../css/myShoppingCart.css" />
		<script type="text/javascript" src="../js/jquery-1.12.4.min.js" ></script>
		<script type="text/javascript" src="../js/style.js" ></script>
		<script type="text/javascript" src="../js/jquery.cookie.js" ></script>
	</head>
	<body>
		<div id="top_warp">
			<div id="top_center">
				<p class="top_center_left">
					<a href="" ><i></i>收藏网站</a>
					<span>欢迎来到<a href="" class="tit" title="中酒网">中酒网</a></span>
				</p>
				<p class="top_center_right">
					[<a href="" class="">长剑腥腥挂壁</a>]
					[<a href="" class="">退出</a>] |
					<a href="" class="">我的订单</a> |
					<a href="" class="">投诉直达</a> |
					<a href="" class="">网站导航</a> |
					订单热线：
					<b>400-798-9999</b>
				</p>
			</div>
		</div>

		<div id="logo_warp">
			<h1>
				<a href="" title="购酒网"></a>
			</h1>
			<div class="logo_right sub_logo_right"></div>
		</div>



		<!--中间-->
		<div id="sub_center">
			<p>收货地址:</p>
			<div class="add_wrap">
				<ul class="add_list">
					<li class="add_one">
						<p class="add1">
							<span class="province">河南省</span>
							<span class="city">郑州市</span>
							<em>(<i class="person">长剑腥腥挂壁</i>收)</em>
						</p>
						<p class="add2">
							<b class="district">金水区</b>
							<em>经八路3072号</em>
						</p>
						<p class="phone">15179819291</p>

						<a>编辑地址</a>
					</li>
				</ul>
				<p><a href="javascript:;" class="increase_add">添加收货地址</a></p>
			</div>

			<hr style="size:1px;color:#e6e6e6;border-style: dashed;"  />

			<div class="pay_way">
				<p class="pay_way_p1">
					支付及配送方式：<i>[修改]</i><em>满99元在线支付9.9折优惠！</em>
				</p>
				<p class="pay_way_p2">在线支付（支付宝）</p>
				<p class="pay_way_p2">快递送货上门<i>免运费 工作日、双休与节假日均可送货</i></p>
			</div>

			<hr style="size:1px;color:#e6e6e6;border-style: dashed;"  />

			<div class="ticket">
				<p class="pay_way_p1">
					发票信息：<i>[修改]</i>
				</p>
				<p class="pay_way_p2">不开发票</p>
			</div>

			<hr style="size:1px;color:#e6e6e6;border-style: dashed;"  />

			<div class="shopping_list">
				<p class="list_tit">
					购物清单：
					<a href="javascript:;">‹‹返回修改购物车</a>
				</p>

				<table class="shopping_list_tab">
					<tr class="shopping_list_tab_tit">
						<td>商品图片</td>
						<td>商品名称</td>
						<td>单价</td>
						<td>商品数量</td>
						<td>金额小计</td>
					</tr>
					<tr>
						<td class="sub_img">
							<img src=" " />
						</td>
						<td class="sub_name">【中酒特惠】52°泸州窖酒（窖藏龙窖） 500ml（6瓶装)</td>
						<td>￥178</td>
						<td class="sub_num">1</td>
						<td class="sub_total">￥178</td>
					</tr>
				</table>


				<ul class="close_account">
					<li class="sub_nums">1件商品，总商品金额：</li>
					<li class="sub_singleprice">￥178</li>
					<li>运费：</li>
					<li>￥0</li>
					<li>在线支付优惠：</li>
					<li>-￥1.58</li>
				</ul>

				<p class="close_account_price">
					<i>应付金额：</i>
					<em class="sub_totalprice">￥176.42</em>
				</p>

				<p class="remark"><a href="javascript:;">(+)酒水随附单</a></p>
				<p class="remark"><a href="javascript:;">(+)添加订单备注</a></p>
				<p class="remark"><a href="javascript:;">(+)使用优惠券抵消金额</a></p>

				<p class="sub_btn_warp">
					<span class="load_sub">
						<i><img src="../images/other/loading.gif"></i>
						正在提交，请稍等...
					</span>
					<a class="sub_btn" href="javascript:;">提交订单</a>
				</p>
			</div>
		</div>











	</body>
</html>
