{% extends 'shop/base.html' %}
{% block content %}
    <form action="{% url 'shop:goodsedit' good.id %}" method="post"  enctype="multipart/form-data">
        {% csrf_token %}

        <section>
{#        {{ good.id }}#}
            <h2><strong style="color:grey;">修改商品</strong></h2>
         {{ msg }}<a href="{% url 'shop:goodlist' %}">返回商品列表</a>
            <ul class="ulColumn2">
                <li>
                    <span class="item_name" style="width:120px;">商品名称：</span>
                    <input type="text" name="name" id="name" class="textbox textbox_295"
                          value="{{ good.name }}"/>
                    {#        <span class="errorTips">错误提示信息...</span>#}
                </li>
                <li>
                    <span class="item_name" style="width:120px;">现价（/元）：</span>
                    <input type="text" name="price" class="textbox textbox_295" value="{{ good.price }}"/>
                    {#        <span class="errorTips">错误提示信息...</span>#}
                </li>
                <li>
                    <span class="item_name" style="width:120px;">原价（/元）：</span>
                    <input type="text" name="normal_price" value="{{ good.normal_price }}" class="textbox textbox_295" placeholder="文本信息提示..."/>
                    {#        <span class="errorTips">错误提示信息...</span>#}
                </li>
                <li>
                    <span class="item_name" style="width:120px;">数量：</span>
                    <input type="text" name="stock" class="textbox textbox_295" value="{{ good.stock }}"/>
                    {#        <span class="errorTips">错误提示信息...</span>#}
                </li>

                <li>
                    <span class="item_name" style="width:120px;">类型：</span>
                    <select class="select" name="type">
                        {#                        选择类型#}
                        {% for type in types %}
                            {% if good.good_type_id == type.id %}
                            <option value="{{ type.id }}" selected>{{ type.type_name }}</option>

                            {% endif %}
                            <option value="{{ type.id }}">{{ type.type_name }}</option>

                        {% endfor %}

                    </select>
                </li>
                <li>
                    <span class="item_name" style="width:120px;">是否上架：</span>
                 {% if good.is_sale %}
                   <label class="single_selection">

                        <input type="radio" name="is_sale" checked value="1"/>
                    上架</label>
                    <label class="single_selection">
                        <input type="radio" name="is_sale"   value="0"/>
                        不上架</label>
                     {% else%}
                     <label class="single_selection">

                        <input type="radio" name="is_sale" value="1"/>
                    上架</label>
                    <label class="single_selection">
                        <input type="radio" name="is_sale" checked value="0"/>
                        不上架</label>
                 {% endif %}

                </li>
                <li>
                    <span class="item_name" style="width:120px;">摘要：</span>
                    <textarea placeholder="摘要信息" class="textarea" style="width:500px;height:100px;"
                              name="desc">{{ good.desc }}</textarea>
                </li>
                <li>
                    <span class="item_name" style="width:120px;">上传图片：</span>
                    <label class="uploadImg">
                        <input id='input_image' type="file"  name="input_image"/>
                        <span>上传图片</span>
                    </label>
                    {% load static %}
                    <img id="img_header" src="{% static good.image %}" >
                </li>
                <li>
                    <span class="item_name" style="width:120px;"></span>
                    <input type="submit"  class="link_btn" id="submit_btn" value="提交1"/>
                </li>
            </ul>
        </section>
    </form>
<script>
$(function () {
        $("#input_image").change(function () {
            var readfile = new FileReader()
            var mfile = $('#input_image')[0].files[0]
            readfile.readAsDataURL(mfile);
            readfile.onload = function () {
                var img = $("#img_header");
                img.attr("src", this.result);
            }
        })
    })
</script>
{% endblock %}