{% extends 'shop/base.html' %}
{% block content %}
    <section>
        <div class="page_title">
            <h2 class="fl">商品列表</h2>
        </div>
        <table class="table" style="text-align:center">

            <tr>
                <th>id</th>
                <th>名称</th>
                <th>价格</th>
                <th>库存</th>
                <th>已销售</th>
                <th>是否上架</th>
                <th>操作</th>
            </tr>
              {% for good in goods %}
            <tr>



                <td>{{ good.id }}</td>
                <td style="width:265px;">
                    <div class="cut_title ellipsis">{{ good.name }}</div>
                </td>
                   <td>{{ good.price }}</td>
                   <td>{{ good.stock }}</td>

                <td>{{ good.sale_count }}</td>
                <td>{{ good.is_sale }}</td>
                <td>
                    <a id="a_delete" onclick="delete_goods({{ good.id }})">删除</a>
                    <a>详情</a>
                    <a href="{% url 'shop:goodsedit'  good.id %}">修改</a>
                </td>

            </tr>
                  <!-- Button trigger modal -->


  {% endfor %}

        </table>
    <hr>
{#              <aside class="paging" style="margin: 0 auto ;width: 400px">#}
{#               <a>第一页</a>#}
{#               <a>1</a>#}
{#               <a>2</a>#}
{#               <a>3</a>#}
{#               <a>…</a>#}
{#               <a>1004</a>#}
{#               <a>最后一页</a>#}
{#              </aside>#}
    </section>
    <script>

   function delete_goods (id) {
      a= confirm('确认删除id为'+id+'的商品吗？')
       if (a){
           $.get('/shop/goodsdelete/'+id,
               {},
               function (data) {
                   alert(data.msg)
               })}}
    </script>
{% endblock %}